streamlit 
pandas 
matplotlib 
mesa ##for agent sumilation OR Agent-Based Modeling Framework
langchain 
openai 
scikit-learn
faiss-cpu         ##(We’ll use FAISS for RAG vector store.)
python-dotenv
tiktoken
openai