{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<!-- Agar user authenticated hai to chatroom dikhana -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <!-- Room info aur logout button dikhana -->
            <div class="alert alert-info d-flex justify-content-between" role="alert">
                <h5>ROOM :- {{room_name}}</h5>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light">Click to Log Out</button>
                </form>
            </div>

            <!-- Chat form ko display karna -->
            <form>
                <div class="form-group">
                    {% if messages %}
                    <!-- Agar messages hain to chatbox dikhana -->
                    <div class="jumbotron" id="chatbox" style="padding: 4px 2px;max-height: 300px; overflow-y: scroll;">
                      <!-- Messages ko loop kar ke display karna -->
                      {% for message in messages %}
                      <div class="chat-message {% if message.user.username == request.user.username %}text-right{% else %}text-left{% endif %}">
                        <b>{{ message.user.username }}</b> : {{ message.content }}<br>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <!-- Agar koi message nahi hai to message show karna -->
                <div class="jumbotron" id="chatbox" style="padding: 4px 2px;"></div>
                <b>No Messages in this Room.</b>
                {% endif %}
        </div>
        <br />
        <!-- Message input field -->
        <div class="form-group" style="width: 100%;">
            <input class="form-control" placeholder="Enter text here" id="my_input" type="text" required></br>
        </div>
        <br />
        <!-- Send button -->
        <input class="btn btn-primary btn-lg btn-block" id="submit_button" type="button" value="Send">
        </form>
    </div>
</div>
</div>

<!-- Room slug ko JSON format mein JavaScript ko pass karna -->
{{slug|json_script:"room_slug"}}

{% else %}
<!-- Agar user authenticated nahi hai to logout ka option dikhana -->
<div class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <h5>You are not logged in</h5>
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">Click to Log Out</button>
        </form>
    </div>
</div>
{% endif %}

<br />

{% endblock %}

<script src="{% static 'chat.js' %}"></script>
